.CodeMirror-scroll{
	height:100%;
	width:100%;
}
#editor{
  width:70%;
  float:left;
}
#browser{
	padding-left:20px;
  	float:right;
}

/** Highlighting **/
span.CodeMirror-matchhighlight { background: #e9e9e9 }
.CodeMirror-focused span.CodeMirror-matchhighlight { background: #e7e4ff; !important }