body, html { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden;}

body {
   background: #eee;
   font-size: 14px;
   font-family: "Helvetica Neue", "ubuntu", "Segoe UI", "Arial", sans-serif;
   
}

h1 {
	background-image: url(../icon_128.png);
	background-repeat: no-repeat;
	padding: 0 0 0 150px;
	margin: 0;
	line-height: 128px;
	font-size: 50px;
	color: #333;
	text-shadow: 0px 0px 3px #333;
	font-weight: normal;
}

div#main {
	-webkit-box-shadow: 0px 5px 10px #333;
	border-radius: 5px;
	width: 620px;
	margin: 15px auto 0 auto;
	padding: 0;
}

div#main header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.24, rgb(204,204,204)),
    color-stop(0.73, rgb(235,235,235))
  );
  color: #1A1A1A;
  width: 600px;
  margin: 15px auto 0 auto;
  padding: 2px 10px 10px 10px;

}

div#main section {
  background: white;
  color: #1A1A1A;
  width: 600px;
  margin: 0 auto 0 auto;
  padding: 25px 10px 10px 10px;
	text-align: center;
}

div#main img {
	margin: 0 auto;
	display: block;
	width: 350px;
}

div#main input[type=text], div#main input[type=password] {
	width: 300px;
	display: block;
	font-size: 16px;
	margin: 15px auto 0 auto;
}

div#main button {
	margin: 15px auto 0 auto;
	font-size: 16px;
}

p.fineprint {
	font-size: 10px;
}

div#main footer {
	border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: white;
  color: #1A1A1A;
  width: 600px;
  margin: 0 auto 0 auto;
  padding: 2px 10px 20px 10px;
	text-align: center;
}

label {
  display: inline;
  width: 150px;
}

input {
	display: block;
}